canvas {
	pointer-events: none;
}
#menu {
	background-color: #FFFFFF;
	height: 1300px;
	width: 15%;
	float: left;
	margin-left:20px;
}
#chart_area {
	background-color: #FFFFFF;
	height: 1300px;
	width: 80%;
	float: left;
}
