.button {
	background-color: #FF7744;
	border: none;
	color: white;
	padding: 24px 40px;
	margin: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 24px;
}
.button-record {
	background-color: #009900;
	border: none;
	color: white;
	padding: 32px 96px;
	margin-left:120px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 24px;
}
#menu {
	margin-left:20px;
}
